@page "/Account/Login"
@{
    ViewData["Title"] = "Login";
}

<h2>Login Required</h2>
<p>You need to log in to access this application.</p>
<a href="/Account/Login" class="btn btn-primary">Login with Keycloak</a>
